body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.3;
    color: #747474;
}

/*navbar section starts here*/

.main-header {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    margin: auto;
}

.logo-docplanner {
    width: 250px;
    height: 80px;
    cursor: pointer;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-right: 250px;
}

.main-menu {
    display: flex;
    gap: 20px;
    margin-left: 200px;
    list-style-type: none;
    color: rgb(138, 124, 124);
    text-decoration: none;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.Career {
    margin-top: 20px;
}


nav {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    color: #ababab;
    justify-content: center;
    text-align: center;
}

ul a li {
    text-decoration: none;
    list-style-type: none;
    color: #ababab;
}

li {
    padding-top: 18px;
}

a {
    text-decoration: none;
    color: #ababab;
    font-size: 105%;
    margin-top: 30px;
}

.about-us {
    color: #00b39b;
    margin-top: 20px;
}


.dropbtn {
    background-color: white;
    color: #ababab;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.first-part {
    padding: 20px;
    zoom: 1;
}

.lead-logo {
    margin: auto;
    display: block;
}

/*navbar section ends here*/

/*first section starts here*/

h1 {
    color: #00b39b;
    text-align: center;
    font-size: 2.125rem;
    font-weight: 100;
    margin-top: 80px;
}
.first-part p {
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
    display: block;
}

.paragraphs {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first-paragraph {
    width: 37%;
    float: left;
}

.second-paragraph {
    width: 37%;
    float: right;
}

.box-section {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.box-1 {
    width: 350px;
    height: 400px;
    background: #00ccb1;
    border-radius: 10px;
}

.box-2 {
    width: 350px;
    height: 400px;
    background: #3d83df;
    border-radius: 10px;

}

.box-3 {
    width: 350px;
    height: 400px;
    background: #1b2734;
    border-radius: 10px;
}

.image-1 {
    margin-left: 20px;
    margin-top: 15px;
}

.image-2 {
    margin-left: 20px;
    margin-top: 15px;
}

.image-3 {
    margin-left: 20px;
    margin-top: 15px;
}

h3 {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

h4 {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.choosing-countries {
    margin-left: 30px;
    margin-top: 30px;
    background-color: #00ccb1;
    text-decoration: underline;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.choosing-countries-2 {
    margin-left: 30px;
    margin-top: 70px;
    font-size: 20px;
    background-color: #3d83df;
    text-decoration: underline;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.choosing-specialists-countries {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #1b2734;
    text-decoration: underline;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.choosing-specialists {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 20px;
    background-color: #1b2734;
    text-decoration: underline;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

option {
    border: none;
    color: black;
    background-color: white;
    font-size: 14px;
}

/*first section ends here*/


/* Links section starts here*/

.Links {
    display: flex;
    zoom: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.Links:after {
    clear: both;
}

.Links:after,
.Links:before {
    display: table;
}

.second-h1 {
    width: 33%;
    font-size: 24px;
    font-weight: 50;
    padding-right: 1em;
    margin-left: 50px;
}

.brand-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 90px;
    margin-right: 120px;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0;
    margin-top: 0px;
    padding: 40px;
    padding-left: 40px;

}

.brand-logos img {
    height: 34px;
}

.brand-logos .tuotempo img {
    height: 16px;
}


.brands__logos .jameda img {
    height: 20px;
}

.brand-logos .clinicloud img,
.brand-logos .gipo img {
    height: 34px;
}

.brand-logos a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
}

.brands__logos .clinicloud img,
.brands__logos .feegow img,
.brands__logos .gipo img,
.brands__logos .jameda img,
.brands__logos .tuotempo img {
    transition: all .2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;
}


.brand-logos li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: 25%;
    height: 40%;
    color: #747474;
}

.brand-logos a {
    display: inline-block;
    padding: 5px 0;
    background-color: transparent;
}
.brand-logos a {
    display: inline-block;
    padding: 5px 0;
    background-color: transparent;
}

a {
    background-color: transparent;
}

/*Links section ends here*/

/*infos section starts here*/

.infos {
    background: #e5faf8;
    background-image: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
    margin-bottom: 200px;

}

.infos-h1 {
    font-size: 24px;
    color: #00b39b;
}

.infos-paragraph {
    font-size: 15px;
    margin-top: 50px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 50px;
    justify-content: space-around;
    margin-top: 50px;
}

.infos-title {
    width: 50%;
    margin-top: 300px;
}

.box_1 {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

.box_2 {
    background-color: white;
    padding: 20px;
    border-radius: 7px;

}

.box_3 {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

.box_4 {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

.h3-titles {
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    font-weight: 60;
    text-align: center;
}

.sr-x {
    font-size: 13px;
}

.section-images {
    margin-left: 68px;
}

.section-logo {
    margin-left: 115px;
}
/* start section 4 */
.section4 {
    margin: 0px 160px;
}

.text-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.section4 h2 {
    font-size: 30px;
    line-height: 45px;
    font-family: Work Sans, Arial, sans-serif;
    margin: 80px 0px 30px;
    text-align: center;
    font-weight: 50;
}

.section4 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #4e4c4cc4;
    text-align: center;
    margin-bottom: 60px;
}

.section4 .card {
    transition: 0.5s;
    text-align: left;
}

.section4 .card:hover {
    box-shadow: 0px 0px 45px -10px;
    transition: 0.5s;
}

.section4 .card h2 {
    font-size: 20px;
    display: inline-block;
    margin: 10px 0px 10px 25px;
}

.section4 .card .btn {
    background-color: #508FE2;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    position: absolute;
    top: 305px;
    right: 25px;
}

.section4 .card .btn:hover {
    background-color: #0362df;
}

.section4 div .btn {
    background-color: #508FE2;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.section4 div .btn:hover {
    background-color: #0362df;
}

.section4 .sounds {
    text-align: center;
}

/* end section 4 */

/* start footer */
footer p {
    text-align: center;
    font-size: 14px;
    line-height: 5px;
    margin: 45px 0px 25px;
    color: #4e4c4cc4;
    margin: 25px 0px 8px;
}

.see-openings {
    margin-bottom: 50px;
    padding: 12px;
    background-color: #3d83df;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
}

.see-openings:hover {
    opacity: 0.6s;
}

.join-us {
    color: #333;
    font-weight: 50;
}

footer p a {
    text-decoration: none;
    font-size: 14px;
}

footer p.foot {
    text-align: center;
    font-size: 14px;
    line-height: 5px;
    color: #4e4c4cc4;
    margin: 10px 0px 25px;
}

/* end footer */